version: "3.7"

services:
  gymapp-web:
    build:
      dockerfile: app-dev.dockerfile
      context: .
      args:
        user: dev
        uid: 2000
        gid: 2000
    container_name: gymapp-web
    hostname: gymapp-web
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    tty: true
    working_dir: /var/www/
    volumes:
      - ../../:/var/www
    networks:
      - gymapp
    ports:
      - 3000:3000

networks:
  gymapp:
    driver: bridge